BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//RATP Travaux//FR
CALSCALE:GREGORIAN
BEGIN:VEVENT
SUMMARY:Ligne A — RER A : Nation du 29-06 au 30-08
DTSTART:20260814T030000
DTEND:20260815T030000
DTSTAMP:20260604T215317Z
UID:aee4f602-9d72-4778-8c7b-3a29239f4066
DESCRIPTION:RER A : Nation du 29/06 au 30/08
END:VEVENT
END:VCALENDAR
